$link_border_color: #793b3d;

.logo {
  height: 100px;
  position: relative;
  top: 4px;
}

ul {
  height: 100%;

  li.nav-item {
    padding: 0px 20px;

    a {
      color: #6e6e6e;
      text-decoration: none;

      &:after {
        display:block;
        content: '';
        border-bottom: solid 3px $link_border_color;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }

      &:hover:after { transform: scaleX(1); }

      &.active {
        color: #444444;
        &:after {
            transform: scaleX(1);
            transition: 0;
        }
      }
    }
  }
}

// Burger Menu specific styling
.bm-menu {
  li.nav-item {
    padding: 5px 20px;

    a {
      color: #6e6e6e;
      text-decoration: none;

      &.active {
        color: $link_border_color;
        &:after {
          transform: scaleX(0);
          transition: 0;
        }
      }

      &:active {
        color: darken($link_border_color, 50%);
      }
    }
  }
}
